@model List<VolunteerPlanner.Models.Event>
<h3>Welcome, @ViewData["Username"]</h3>
<h1>All Events</h1>

<!-- <table>
    <thead>
        <th>Event</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Duration</th>
        <th>Actions</th>
    </thead>
    <tbody>
        
    </tbody>
</table> -->

