@model C_Sharp_Belt_II.Models.Ideas
@{
    ViewData["Title"] = "Like Status";
}

<div class="row mt-5">
    <div class="card text-white bg-dark mb-3 col-12 px-0">
        <div class="card-header">
            <a href="/users/@Model.IdeaCreatorId">@Model.IdeaCreator.Alias</a> says: 
        </div>
        <div class="card-body">
            <p class="card-text pl-4">@Model.Content</p>
        </div>
    </div>
</div>
<div class="row mt-5">
    <h5>People who liked this post:</h5>
    <table class="table table-striped table-bordered table-dark">
        <thead>
            <tr>
                <th class="align-top w-25">Alias</th>
                <th class="align-top w-75">Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i=0; i<@Model.Likes.Count(); i++){
                    <tr>
                        <td><a href="/users/@Model.Likes[i].LikedUser.UserId">@Model.Likes[i].LikedUser.Alias</a></td>
                        <td>@Model.Likes[i].LikedUser.Name</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>